@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

var selectionProject = Model.Content.Site().FirstChild("ProjectMain").Children()
                                    .Where(x => x.IsVisible())
                                    .Where(x => x.GetPropertyValue<String>("status") == "Completed");

 @{
 foreach (var child in selectionProjects)
                  {

           <li> <a href="@child.Url"> 
                @child.Name: @child.GetPropertyValue("status")</a> 
        </li>
		
	    }	