@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@
   <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
@Umbraco.RenderMacro("RegisterNewMember")
</div>
</div>
</section>