@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	var selection = Model.Content.Site().FirstChild("articlesMain").FirstChild("articlesItem").Children()
						.Where(x => x.IsVisible());
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

